<div class="container">
    <h1 class="my-4 text-center">To do list</h1>
    <div class="row">
        <div class="col-xl-5 mb-4">

            <app-form></app-form>

        </div>
        <div class="col-xl-7">
            <app-lista></app-lista>
        </div>
    </div>
    <div *ngIf="listaCompletada.length != 0">
        <h3 class="my-4 text-center">Tasks Done</h3>
        <div class="row">
            <div class="col-xl-2"></div>
            <div class="col-xl-3 mb-4">
                <div class="d-grid gap-2">
                    <button
                        type="button"
                        name="limpiar"
                        id="limpiar"
                        class="btn btn-danger alinear"
                        (click)="cleanTaskComplete()"
                    >
                    <img class="margen-imagen" src="../../assets/icons8-borrar-para-siempre-50.png" alt="" height="20px" width="20px">
                    Clean List Done
                    </button>
                </div>        
            </div>
            <div class="col-xl-7">
                <app-tasks-done></app-tasks-done> 
            </div>
        </div>
    </div>
</div>
