<ul class="list-group">
  <li *ngFor="let tarea of listaComplete, let i = index" class="list-group-item">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <input class="form-check-input me-2" type="checkbox" [(ngModel)]="tarea.isChecked" (change)="taskIncomplete(tarea,i)" id="taskComplete">
        <label class="form-check-label text-decoration-line-through disabled-label" for="taskComplete">{{tarea.descripcion}}</label>
      </div>

      <div>
        <button class="btn btn-danger absolute my-auto" type="submit" (click)="deleteTask(i)">X</button>
      </div>
    </div>
    
  </li>
</ul>
<p *ngIf="listaComplete.length == 0" class="text-center fs-3 text-body-secondary">List Empty</p>
