
  <ul class="list-group">
    <li *ngFor="let tarea of lista, let i = index" class="list-group-item">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <input class="form-check-input me-2" type="checkbox" value="" id="firstCheckbox">
          <label class="form-check-label" for="firstCheckbox">{{tarea.descripcion}}</label>
        </div>

        <div>
          <button class="btn btn-danger absolute my-auto" type="submit" (click)="deleteTask(i)">X</button>
        </div>
      </div>
      
    </li>
  </ul>
<p *ngIf="lista.length == 0" class="text-center fs-3 text-body-secondary">List Empty</p>
