
<ul class="list-group">
  <li *ngFor="let tarea of lista" class="list-group-item">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <input class="form-check-input me-2" type="checkbox" [(ngModel)]="tarea.isChecked" (change)="taskComplete(tarea.descripcion, tarea.idTarea)" id="firstCheckbox">
        <label class="form-check-label disabled-label" for="firstCheckbox">{{tarea.descripcion}}</label>
      </div>

      <div class="d-flex justify-content-between">
        <button class="btn btn-success absolute ms-2" type="submit" (click)="editTask(tarea)">X</button>
        <button class="btn btn-danger absolute ms-2" type="submit" (click)="deleteTask(tarea.idTarea)">X</button>
      </div>
    </div>
    
  </li>
</ul>
<p *ngIf="lista.length == 0" class="text-center fs-3 text-body-secondary">List Empty</p>
